<!DOCTYPE html>
<html>
<head>
  <title>Planet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
<li> <%= link_to('index, planet_index_path') %> </li>
<li> <%= link_to('author, planet_author_path') %> </li>
<li> <%= link_to('ejemplo, planet_ejemplo_path') %> </li>
<li> <%= link_to('contact, planet_contact_path') %> </li>
<%= yield %>
<li> <%= link_to('index, planet_index_path') %> </li>
<li> <%= link_to('author, planet_author_path') %> </li>
<li> <%= link_to('ejemplo, planet_ejemplo_path') %> </li>
<li> <%= link_to('contact, planet_contact_path') %> </li>
</body>
</html>
